doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Axborot xavfsizligi boshqarmasi
  link(rel='stylesheet' href='/css/semantic.min.css' crossorigin='anonymous')
body
#sidebar.ui.sidebar.inverted.vertical.menu.sidebar-menu
  .item
    .header General
    .menu
      a.item
        div
          i.icon.tachometer.alternate
          | Dashboard
  .item
    .header Foydalanuvchilar
    .menu
      a.item
        div
          i.cogs.icon
          | Ruxsat turlari
      a.item
        div
          i.users.icon
          | Foydalanuvchilar ro'yxati
  .item
    .header Shartnomalar
    .menu
      a.item(href="/agreements-type")
        div
          i.cogs.icon
          | Shartnoma turlari
      a.item(href="/agreements")
        div
          i.users.icon
          | Shartnomalar ro'yxati
  .item
    .header Tashqi ip addresslar
    .menu
      a.item
        div
          i.cogs.icon
          | Shartnoma turlari
      a.item
        div
          i.users.icon
          | Shartnomalar ro'yxati
  a.item
    div
      i.icon.lightbulb
      | Loglar bilan ishlash
  .item
    .header Other
    .menu
      a.item(href='#')
        div
          i.icon.envelope
          |               Messages
      a.item(href='#')
        div
          i.icon.calendar.alternate
          |               Calendar
  .ui.segment.inverted
    .ui.tiny.olive.inverted.progress
      .bar(style='width: 54%')
      .label Monthly Bandwidth
    .ui.tiny.teal.inverted.progress
      .bar(style='width:78%')
      .label Disk Usage

nav.ui.top.fixed.inverted.menu
  .left.menu
    a.sidebar-menu-toggler.item(href='#' data-target='#sidebar')
      i.sidebar.icon
    a.header.item(href='#')
      | Axborot xavfsizligi boshqarmasi
  .right.menu
    a.item(href='#')
      i.bell.icon
    .ui.dropdown.item
      i.user.cirlce.icon
      .menu
        a.item(href='#')
          i.info.circle.icon
          |  Profile
        a.item(href='#')
          i.wrench.icon
          | Settings
        a.item(href='#')
          i.sign-out.icon
          | Logout
.pusher(style="padding-top: 50px;")
  .main-content
    .ui.grid.stackable.padded
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.fluid.card
          .content
            .ui.right.floated.header.red
              i.icon.shopping.cart
            .header
              .ui.red.header
                | 3958
            .meta
              | orders
            .description
              | Elliot requested permission to view your contact details
          .extra.content
            .ui.two.buttons
              .ui.red.button More Info
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.fluid.card
          .content
            .ui.right.floated.header.green
              i.icon.clock
            .header
              .ui.header.green 57.6%
            .meta
              | Time
            .description
              | Elliot requested permission to view your contact details
          .extra.content
            .ui.two.buttons
              .ui.green.button More Info
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.fluid.card
          .content
            .ui.right.floated.header.teal
              i.icon.briefcase
            .header
              .ui.teal.header 3112
            .meta
              | Saves
            .description
              | Elliot requested permission to view your contact details
          .extra.content
            .ui.two.buttons
              .ui.teal.button More Info
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.fluid.card
          .content
            .ui.right.floated.header.purple
              i.icon.trophy
            .header
              .ui.purple.header 9805
            .meta
              | Views
            .description
              | Elliot requested permission to view your contact details
          .extra.content
            .ui.two.buttons
              .ui.purple.button More Info
    .ui.grid.stackable.padded
      .column
        table.ui.celled.striped.table
          thead
            tr
              th(colspan='3')
                | Git Repository
          tbody
            tr
              td.collapsing
                i.folder.icon
                |  node_modules
              td Initial commit
              td.right.aligned.collapsing 10 hours ago
            tr
              td
                i.folder.icon
                |  test
              td Initial commit
              td.right.aligned 10 hours ago
            tr
              td
                i.folder.icon
                |  build
              td Initial commit
              td.right.aligned 10 hours ago
            tr
              td
                i.file.outline.icon
                |  package.json
              td Initial commit
              td.right.aligned 10 hours ago
            tr
              td
                i.file.outline.icon
                |  Gruntfile.js
              td Initial commit
              td.right.aligned 10 hours ago
    .ui.grid.stackable.padded
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.center.aligned.column
        .ui.teal.statistic
          .value
            | 5,550
          .label
            | Downloads
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.center.aligned.column
        .ui.purple.statistic
          .value
            | 50+
          .label
            | Developers
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.center.aligned.column
        .ui.green.statistic
          .value
            | 800+
          .label
            | Commits
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.center.aligned.column
        .ui.purple.statistic
          .value
            | 1000+
          .label
            | Cups of Coffee
script(src="/js/jquery.js") 
script(src="/js/semantic.min.js") 
script(src="/js/main.js") 
