.agreements-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #aaaaaae3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.dbn {
    display: none;
}

#file_url{
    padding-bottom: 6px;
    display: inline-block;
}

.text-green {
    color: green;
}

.agreements-container{
    padding: 0 20px;
}